body {
  font-family: font-awesome, sans-serif;
  background-color: #2c3840; }

h1,
h2,
h3,
a {
  font-family: "Oswald Regular", sans-serif; }

h1, h2, h3 {
  color: white; }

#about h2 {
  text-align: center; }

#about .circle {
  shape-outside: ellipse() content-box;
  shape-margin: 2%;
  margin: 2%;
  width: 10em;
  height: 20em;
  float: left; }

#about img {
  margin-right: 2%; }

#resume h2 {
  text-align: center; }

#resume h3 {
  text-align: left; }

#resume .nav-tabs > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */ }

#resume .nav-tabs {
  text-align: center; }

#resume #front-end ul,
#resume #back-end ul,
#resume #miscellaneous ul,
#resume #currently-learning ul {
  margin-top: 1%;
  display: inline-block; }

footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #cecece; }
  footer ul {
    text-align: center; }
  footer strong {
    display: block;
    text-align: center; }
