#about h2 {
  text-align: center; }

#about .circle {
  shape-outside: ellipse() content-box;
  shape-margin: 2%;
  margin: 2%;
  width: 10em;
  height: 20em;
  float: left; }

#about img {
  margin-right: 2%; }

footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #cecece; }
  footer ul {
    text-align: center; }
  footer strong {
    display: block;
    text-align: center; }
