body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6.2224em 2em 2em 2em; }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }

html,
body {
  overflow-x: hidden; }

p {
  line-height: 1.5556;
  margin-top: 1.5556em;
  max-width: 886.6666px; }

h1,
h2,
h3,
a {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1,
h2,
h3 {
  color: #2C3E50; }

h1 {
  font-size: 1.953em;
  font-weight: 500; }

h2 {
  font-size: 1.563em;
  line-height: 1.9905em;
  margin-top: 0.9952em; }

h3 {
  font-size: 1.25em;
  line-height: 1.2444em;
  margin-top: 2.4888em; }

h4 {
  font-size: 0.8000em;
  line-height: 1.9444em;
  margin-top: 1.9444em; }

img.img-svg {
  height: 250px;
  width: 250px;
  display: block;
  margin: 0.9952em auto; }
  @media (max-width: 768px) {
    img.img-svg {
      height: 150px;
      width: 150px; } }

.btn-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 1.563em;
  line-height: 50px;
  margin-top: 0.9952em;
  padding: 0.33173em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .btn-social:active, .btn-social:focus, .btn-social:hover {
    color: #18BC9C;
    outline: 0;
    background-color: #fff;
    text-decoration: none; }

.portfolio-link {
  height: 50px;
  width: 50px;
  color: #2C3E50;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .portfolio-link:active, .portfolio-link:focus, .portfolio-link:hover {
    color: #18BC9C;
    outline: 0;
    text-decoration: none; }

.navbar {
  padding: 15px 30px;
  background-color: #2C3E50;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 700; }
  .navbar a,
  .navbar button {
    color: white !important;
    font-size: 1em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #fff !important;
  color: #18BC9C !important; }

.animated-header-scroll {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9s; }

.intro-text {
  text-align: center;
  line-height: 1.5930em;
  margin-top: 0.7965em;
  margin-bottom: 2.3895em; }
  .intro-text p {
    margin-left: auto;
    margin-right: auto; }

#about h2 {
  text-align: center; }

#about .circle {
  -webkit-shape-outside: ellipse() content-box;
          shape-outside: ellipse() content-box;
  -webkit-shape-margin: 2%;
          shape-margin: 2%;
  margin: 2%;
  width: 10em;
  height: 20em;
  float: left; }

#about img {
  margin-right: 2%; }

#resume {
  font-size: 1.0000em;
  line-height: 1.5556em;
  margin-top: 1.5556em; }
  #resume h2,
  #resume h3,
  #resume h4 {
    text-align: center; }
  #resume .nav-tabs > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */ }
    @media (max-width: 767px) {
      #resume .nav-tabs > li {
        display: block; }
        #resume .nav-tabs > li.active {
          background-color: #CEC4BB; } }
  #resume .nav-tabs {
    text-align: center;
    margin-top: 1.5556em; }
    #resume .nav-tabs a {
      color: #7896b5 !important; }
  #resume #front-end ul,
  #resume #back-end ul,
  #resume #miscellaneous ul,
  #resume #currently-learning ul,
  #resume #goldminerpulse ul,
  #resume #freecodecamp ul,
  #resume #ubc ul,
  #resume #freecodecamp-edu ul,
  #resume #codeschool ul,
  #resume #pluralsight ul {
    display: inline-block;
    font-size: 0.8000em;
    line-height: 1.9444em;
    margin-top: 1.9444em;
    list-style-type: none; }
  #resume #front-end .img-responsive,
  #resume #back-end .img-responsive,
  #resume #miscellaneous .img-responsive,
  #resume #currently-learning .img-responsive,
  #resume #goldminerpulse .img-responsive,
  #resume #freecodecamp .img-responsive,
  #resume #ubc .img-responsive,
  #resume #freecodecamp-edu .img-responsive,
  #resume #codeschool .img-responsive,
  #resume #pluralsight .img-responsive {
    display: inline; }

#portfolio h2 {
  text-align: center; }

#portfolio .caption {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  #portfolio .caption:hover {
    opacity: 0.85; }
  #portfolio .caption .caption-content {
    width: 100%; }
  #portfolio .caption i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

footer {
  margin-top: 1.9444em;
  padding-top: 1.9444em;
  padding-bottom: 1.9444em;
  background-color: #2C3E50;
  font-size: 0.8000em;
  line-height: 1.9444em;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center; }
  footer h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 700; }
  footer p {
    color: white;
    font-size: 1.563em;
    line-height: 1.9905em;
    margin-top: 0.9952em; }

.portfolio-modal {
  padding-right: 0 !important; }
  .portfolio-modal .modal-content {
    min-height: 100%;
    text-align: center;
    background-clip: border-box;
    padding: 100px 0;
    border: none;
    border-radius: 0;
    box-shadow: none; }
    .portfolio-modal .modal-content ol {
      text-align: left; }
    .portfolio-modal .modal-content ol,
    .portfolio-modal .modal-content ul,
    .portfolio-modal .modal-content p {
      line-height: 1.5556;
      margin-top: 1.5556em;
      max-width: 886.6666px; }
  .portfolio-modal .modal-close {
    position: absolute;
    height: 75px;
    width: 75px;
    cursor: pointer;
    top: 25px;
    right: 25px;
    background-color: transparent; }
    .portfolio-modal .modal-close .lr {
      height: 75px;
      width: 1px;
      margin-left: 35px;
      background-color: black;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .portfolio-modal .modal-close .rl {
      height: 75px;
      width: 1px;
      background-color: black;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
