#about {
    .circle {
        shape-outside: ellipse() content-box;
        shape-margin: 2%;
        margin: 2%;
        width: 15em;
        height: 30em;
        float: left;
    }
  img {
      margin-right: 2%;
  }
}
