#about {
    h2 {
        text-align: center;
    }
    .circle {
        shape-outside: ellipse() content-box;
        shape-margin: 2%;
        margin: 2%;
        width: 10em;
        height: 20em;
        float: left;
    }
    img {
        margin-right: 2%;
    }
}
