footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    
    ul {
        text-align: center;
    }
    strong {
        display: block;
        text-align: center;
    }
}