$font-stack: font-awesome, sans-serif;
$header-font-stack: "Oswald Regular", sans-serif;

body {
    font-family: $font-stack;
    background-color: #2c3840;
}

h1,
h2,
h3,
a {
    font-family: $header-font-stack;
}

h1, h2, h3 {
    color: white;
}


@import "about";
@import "resume";
@import "footer";
