$font-stack: Lato,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$header-font-stack: Montserrat,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$dark: #2C3E50;
$midtone: #7896b5;
$light: #d0dbe5;
$dark-complement: #836548;
$light-complement: #CEC4BB;
$green: #18BC9C;
body {
    font-family: $font-stack;
    padding: 4*1.5556em 2em 2em 2em;
    @media (min-width: 768px) {
        font-size: 18px;
    }
}

html,
body {
    overflow-x: hidden;
}

p {
    line-height: 1.5556;
    margin-top: 1.5556em;
    max-width: 886.6666px;
}

h1,
h2,
h3,
h4,
a {
    font-family: $header-font-stack;
}

h1,
h2,
h3,
a {
    color: $dark;
}

h1 {
    font-size: 1.953em;
    font-weight: 500;
}

h2 {
    font-size: 1.563em;
    line-height: 1.9905em;
    margin-top: 0.9952em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2444em;
    margin-top: 2*1.2444em;
}

h4 {
    font-size: 0.8000em;
    line-height: 1.9444em;
    margin-top: 1.9444em;
}

img {
    &.img-svg {
        height: 250px;
        width: 250px;
        display: block;
        margin: 0.9952em auto;
        @media (max-width: 768px) {
            height: 150px;
            width: 150px;
        }
    }
}

.btn-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    color: #fff;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 1.563em;
    line-height: 50px;
    margin-top: 0.9952em;
    padding: (0.9952/3) * 1em;
    transition: all .3s ease-in-out;
    &:active,
    &:focus,
    &:hover {
        color: $green;
        outline: 0;
        background-color: #fff;
        text-decoration: none;
    }
}

.portfolio-link {
    height: 50px;
    width: 50px;
    color: $dark;
    transition: all .3s ease-in-out;
    &:active,
    &:focus,
    &:hover {
        color: $green;
        outline: 0;
        text-decoration: none;
    }
}

@import "sections/nav";
@import "sections/header";
@import "sections/about";
@import "sections/resume";
@import "sections/portfolio";
@import "sections/footer";
@import "modal";
