.portfolio-modal {
    padding-right: 0 !important;
    .modal-content {
        min-height: 100%;
        text-align: center;
        background-clip: border-box;
        padding: 100px 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        ol {
            text-align: left;
        }
        ol,
        ul,
        p {
            line-height: 1.5556;
            margin-top: 1.5556em;
            max-width: 886.6666px;
        }
    }
    .modal-close {
        position: absolute;
        height: 75px;
        width: 75px;
        cursor: pointer;
        top: 25px;
        right: 25px;
        background-color: transparent;
        .lr {
            height: 75px;
            width: 1px;
            margin-left: 35px;
            background-color: black;
            transform: rotate(45deg);
        }
        .rl {
            height: 75px;
            width: 1px;
            background-color: black;
            transform: rotate(90deg);
        }
    }
}