.navbar {
    padding: 15px 30px;
    background-color: $bottom;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
    font-weight: 700;
    a, button {
        color: white !important;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #cab4b4 !important;
}

.animated-header-scroll {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9s;
}