#resume {
    font-size: 1.0000em;
    line-height: 1.5556em;
    margin-top: 1.5556em;
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .nav-tabs> li {
        float: none;
        display: inline-block;
        *display: inline;
        /* ie7 fix */
        zoom: 1;
        /* hasLayout ie7 trigger */
    
    @media (max-width: 767px){
        display: block;
    }    
    }
    .nav-tabs {
        text-align: center;
        margin-top: 1.5556em;
        a {
            color: $midtone !important;
        }
    }
    #front-end,
    #back-end,
    #miscellaneous,
    #currently-learning {
        ul {
            display: inline-block;
            margin-top: 1.5556em;
        }
    }
}
