#resume {
    h2 {
        text-align: center;
    }
    h3 {
        text-align: left;
    }
    .nav-tabs> li {
        float: none;
        display: inline-block;
        *display: inline;
        /* ie7 fix */
        zoom: 1;
        /* hasLayout ie7 trigger */
    }
    .nav-tabs {
        text-align: center;
    }
    #front-end,
    #back-end,
    #miscellaneous,
    #currently-learning {
        ul {
            margin-top: 1%;
            display: inline-block;
        }
    }
}