footer {
    margin-top: 1.9444em;
    padding-top: 1.9444em;
    padding-bottom: 1.9444em;
    background-color: $dark;
    font-size: 0.8000em;
    line-height: 1.9444em;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    h2 {
        text-transform: uppercase;
        color: white;
        font-weight: 700;
    }
    p {
        color: white;
        font-size: 1.563em;
        line-height: 1.9905em;
        margin-top: 0.9952em;
    }
   
}