.intro-text {
    text-align: center;
    line-height: 1.5930em;
    margin-top: 0.7965em;
    margin-bottom: 3*0.7965em;
    p {
        margin-left: auto;
        margin-right: auto;
    }
    .icon-list {
        line-height: 1.5556;
        margin-top: 1.5556em;
        max-width: 886.6666px;
        margin-left: auto;
        margin-right: auto;
    }
}