.navbar {
    padding: 15px 30px;
    background-color: $dark;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: uppercase;
    font-weight: 700;
    a,
    button {
        color: white !important;
        font-size: 1em;
        transition: all .3s ease-in-out;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #fff !important;
    color: $green !important;
}

.animated-header-scroll {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9s;
}