// background grey color for vertical timeline
$background: #f4f4f4;
.timeline {
    ul {
        list-style-type: none;
        padding: 0;
    }
    span,
    p {
        font-size: 0.8000em;
        line-height: 1.9444em;
        margin-top: 1.9444em;
        font-weight: 400;
    }
    h4 {
        font-size: 1em;
        line-height: 1.5556;
        margin-top: 1.5556em;
        max-width: 886.6666px;
        font-weight: 700;
    }
}

//timeline styles, which are only visible on sufficiently large screens 
@media screen and (min-width: 769px) {
    .timeline ul li {
        list-style-type: none;
        position: relative;
        width: 6px;
        margin: 0 auto;
        background: $background;
    }
    .timeline ul li::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: #d14848;
    }
    .timeline ul li div {
        span {
            display: block;
            text-align: center;
        }
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 15px;
        background: $background;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .timeline ul li div::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    .timeline ul li:nth-child(odd) div {
        left: 45px;
    }
    .timeline ul li:nth-child(odd) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent $background transparent transparent;
    }
    .timeline ul li:nth-child(even) div {
        left: -439px;
    }
    .timeline ul li:nth-child(even) div::before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent $background;
    }
}

// Media query for medium screens
@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

// Media query for small screens
@media screen and (max-width: 775px) {
    .timeline ul {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        li {
            list-style-type: none;
            display: flex;
        }
    }
    .timeline ul li div {
        align-items: stretch;
        span {
            display: block;
            text-align: center;
            margin-top: 1em;
        }
        bottom: 0;
        margin-top: 1em;
        padding: 15px;
        background: $background;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

// Media Query for extra-small screens
@media screen and (max-width: 500px){
    .timeline ul {
        flex-direction: column;
        align-items: center;
    }
}